# Laravel 
/vendor 
/node_modules 
.env 
*.log 
.DS_Store 
Thumbs.db 
# Arquivos tempor rios 
$* 
'* 
!* 
Fatal* 
Warning* 
decimal* 
default* 
string* 
nullable* 
timestamps* 
isset* 
cd 
copy 
dir 
ls 
php 
{ 
